body{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top:100px ;
    background-color:#D6E1F0;

}
.parent{
    width: 320px;
    height: 490px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FAFCFD;
    border-radius: 13px;
    overflow: hidden;
    flex-flow: column wrap;
    .child{
        width: 288px;
        height: 288px;
        background-color:#3785FF;
        border-radius: 16px;
        margin-top: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 200px;
            height: 200px;

        }

    }
    .child2{
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-flow: column nowrap;
        
    }
    h1{
       margin-top: 24px;
       font-size: 22px;
       color: #1F314F;
       line-height: 120%;
       font-weight: 700;
    }
    p{
        color: #68778D;
        line-height: 140%;
        font-size: 15px;
        font-weight: 600;
    }
}